.data-container{
  //outline:1px solid red;
  width:100%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  @include medias(480px){
    width: auto;
  }
  @include medias(1024px){
    width: 100%;
    margin: 0;
  }
}
.data-container-item{
  width: 12em;
  margin:.5em auto;
  align-items:flex-start;
  @include medias(480px){
    margin: .5em 1.5em;
  }
  @include medias(640px){
    margin: .5em 1em;
  }
  @include medias(768px){
    margin: .5em .5em;
  }
}
.top-data{
  //outline: 1px solid red;
  display: flex;
  background: $color-1;
  position: relative;
  height: 10em;
  overflow: hidden;
  .design-img{
    height: 15em;
  }
  .edit-design{
    position: absolute;
    top: 1em;
    right:1em;
    padding: .5em;
    background:$color-3;
    border-radius: 8px;
    color: $color-1;
    cursor: pointer;
  }
}
.bottom-data{
  background: $color-3;
  //outline: 1px solid blue;
  padding: .3em;
  font-size: $fz-320 - 1;
  //height: 7.7em;
}
.tools{
  display: flex;
  justify-content:space-between;
  width: 50%;
  margin: .2em 0;
}
.items-tools{
  cursor: pointer;
  background: $color-2;
  color: $color-4;
  padding: 2px 2px 1px;
  border-radius:3px;
  
}
