.container-designer{
  //outline: 1px solid red;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  width: 100%;
  @include medias(480px) {
    margin:auto;
  }
  @include medias(640px) {
    width: 90%;
    justify-content:flex-start;
  }
  @include medias(640px) {
    width: 90%;
    justify-content:center;
  }
}
.design{
    position: relative;
    //outline:1px solid blue;
    display: block;
    background: $color-1;
    height: 12em;
    margin:0 0 1.5em;
    font-family: "Nexa";
    font-weight: bold;
    font-size:$fz-320 - 4;
    width: 100%;
    //margin:auto;
    overflow: hidden;
    border: none;
  @include medias(480px) {
    width: 45%;
    margin:0 auto 1.5em;
  }
  @include medias(640px) {
    font-size:$fz-320 - 8;
    width: 30%;
    margin: 1em;
    height: 12.2em;
  }
  @include medias(1024px) {
    width: 20%;
    height: 13em;
    margin:1em 1em;
  }
    &:hover .edit{
      display: flex;
      position: absolute;
      top: .5em;
      justify-content:center;
      left: 88%;
      background: $color-3;
      padding: .4em;
      font-size: $fz-320 + 1.5;
      color: $color-1;
      border-radius: 3px;
      @include medias(480px) {
        left: 80%;
        font-size:$fz-320 - .5;
        padding: .3em;
      }
      @include medias(640px) {
        font-size:$fz-320 - 4;
      }
      @include medias(768px) {
        font-size:$fz-320 - 2;
        left: 85%;
        padding: .4em;
      }
    }
    &-title{
      border-bottom:.2em solid $color-3;
      text-align: center;
      padding-top:2.2em;
      padding-bottom:1.3em;
      @include medias(1024px) {
        padding-top:2.5em;
        padding-bottom:1.2em;
      }
    }
  }
.edit, .edit-design{
    display: none;
  }
.top-data:hover .edit-design{
  display: flex;
}
.design-image{
    display: block;
    height: 100%;
    margin:auto;
  }