  .index-main-container{
    max-width: $max-width-320;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin:7em auto;
    @include medias(640px){
      width: 50%;
    }
    @include medias(1024px){
      max-width: 50%;
    }
    .login-container{
      display: flex;
      width:$max-width-320;
      justify-content:center;
      flex-wrap: wrap;
      margin:auto;
      &-form{
        display: flex;
        background: $color-2;
        flex-wrap: wrap;
        justify-content:space-around;
      }
    }
    .logo-container{
      width: $max-width-320;
      margin:auto;
      display: flex;
      justify-content:center;
      .logo{
        height: 10em;
      }
    }
  }
  input[class^='login-input']{
    width: 80%;
    background-color: $color-3;
    color:$color-1;
    border: none;
    padding: 1em;
    margin: 1em auto;
    text-align: center;
  }
  .login-button_submit{
    width: 80%;
    background: $color-1;
    color: $color-4;
    font-weight: bold;
    padding: .5em;
    border:none;
    margin: .5em auto 1em;
  }
  fieldset{
    border-width: 0;
  }