*{
  //outline:1px solid red;
}
.container-main{
  @include medias(768px){
    display: flex;
    width: 100%;
    margin:auto;
    max-height:34em;
    flex-wrap: nowrap;
  }
  @include medias(1024px){
    max-width:80%;
  }
  @include medias(1200px){
    max-width:50em;
  }
}
.container-left{
  display: flex;
  flex-wrap: wrap;
    @include medias(768px){
      width: 55%;
      //height:45vh;
    }
  }
.designs, .variants{
  overflow: auto;
  display:flex;
  &-img{
    height: 7em;
    margin: 0 .2em;
    @include medias(768px){
      height: 5em;
    }
  }
}
.designs{
  @include medias(768px){
    flex-wrap: wrap;
    width: 22%;
    overflow: scroll;
    //height: 50%;
  }
}
.variants{
  @include medias(768px){
    //height: 6em;
    //margin:0 .5em;
  }
  &-img{
    margin: 0 .2em;
  }
}
.right-side{
  display: flex;
  width: 100%;
  flex-wrap:wrap;
  //background: #000;
  @include medias(768px){
    width: 75%;
    max-height: 34em;
    margin: 0;
  }
}
.fullview-conatainer-active > img {
  position: relative;
  margin:1em auto;
}
.live-preview{
  margin:auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  @include medias(768px){
    display: block;
    margin: 0;
  }
  &-current{
    display: block;
    position: relative;
    margin:auto;
    height: 24em;
    &-variant{
      display: block;
      position: absolute;
      left: 2em;
    }
  }
}
.variants-container{
  width: 20em;
  position: relative;
  overflow: hidden;
  //outline:1px solid purple;
}
.current-design{
  display: flex;
  justify-content:space-between;
  background: $color-1;
  padding: 1em;
  margin:.1em auto .3em;
  width: 100%;
  overflow: auto;
  //outline:1px solid red;
  @include medias(768px){
    padding: .5em;
  }
  &-title{
    display: block;
    font-size: 1em;
    width: 50%;
    //outline:1px solid yellow;
  }
  &-subtitle{
    font-size: .8em;
  }
}
.watchPreview{
  align-content:flex-end;
  border: none;
  padding: .5em;
  border-radius: 5px;
  background: $color-2;
  //outline:1px solid blue;
}
.button-dropdown-clothes, .container-right-close{
  border-radius: 5px;
  position: absolute;
  top:.5em;
  right: .9em;
  margin:0 .1em;
  display: flex;
  background: $color-1;
  border:.1px solid $color-2;
  padding: .1em;
  font-size:2em;
  @include medias(768px){
    display: none;
  }
}
.zoomButtons-container{
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: flex;
  @include medias(768px){
    top: 0;
    z-index:15;
    left: 50%;
    position: fixed;
    display: flex;
    align-content:space-between;
    background: rgba($color-3, .3);
    flex-wrap: wrap;
    width:1.2em;
    height:15em;
  }
  //@include medias(900px){
  //  right: 41%;
  //}
  //@include medias(1024px){
  //  right: 43%;
  //}
  .button-more, .button-less{
    border-radius: 5px;
    margin:0 .1em;
    display: flex;
    background: $color-1;
    border:.1px solid $color-2;
    padding: .1em;
    font-size: 1.5em;
    @include medias(768px){
      border-radius: 0;
      color:$color-3;
      margin: 0;
      padding: .1em;
      //width: 1em;
      height: 1em;
      display: block;
      font-size: 1em;
    }
  }
}
.container-right{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  z-index: 10;
  top:0;
  width: 0;
  height: 100vh;
  overflow:scroll;
  background: rgba($color-4, .8);
  position: fixed;
  padding:1em 0;
  transition: all .1s;
  @include medias(768px){
    margin-left:1em;
    width: 50%;
    max-height:34em;
    overflow: auto;
    justify-content:space-around;
    position: inherit;
    background: $color-2;
    padding: 0;
  }
  &-img{
    border-radius: 5px;
    background:$color-2;
    margin: .2em;
    justify-content:space-around;
    height: 8em;
    @include medias(320px){
      justify-content:space-between;
      margin: .5em;
      height: 11em;
    }
    @include medias(768px){
      height: 8em;
      margin: 0;
      border-radius: 0;
    }
  }
  &-active{
    width: 100%;
    transition: all .1s;
  }
  &-close{
    right: .3em;
    box-shadow: 0px 0px 5px 0px rgba($color-4,1);
  }
}
.posi-fix{
  position: fixed;
}
.live-all-files-available{
  top: 5em;
  right: 0;
  font-size:3em;
  @include medias(768px){
    display: flex;
  }
}

.fullview-conatainer{
  display: none;
  outline:1px solid red;
  top: 0;
  padding-top:1em;
  position: fixed;
  z-index:500;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: rgba($color-4, .9);
  &-active{
    display: block;
  }
}
.buttons{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width:100%;
}
.cotinue-design, .save-design{
  background: transparent;
  border:none;
  border-radius: 5px;
  color:#000000;
  background: $color-1;
  padding: .5em;

}
.live-preview-current-variant{
  left: 0;
}

.block-zoom-button{
  background: gray;
  color: darkgray;
  border:0;

  border-radius: 1em;
  pointer-events:none;
  &:active{

  }
}
