*{
  //outline:1px solid red;
}
.container-main{
  @include medias(768px){
    display: flex;
    width: 100%;
    //margin:auto;
    max-height:34em;
    flex-wrap: nowrap;
  }
  @include medias(1024px){
    max-width:80%;
  }
  @include medias(1200px){
    max-width:50em;
  }
}
.container-left{
  display: flex;
  flex-wrap: wrap;
  @include medias(768px){
    width: 55%;
    //height:45vh;
  }
}
.designs, .variants{
  overflow: auto;
  display:flex;
  &-img{
    height: 7em;
    margin: 0 .2em;
    @include medias(768px){
      height: 5em;
    }
  }
}
.designs{
  @include medias(768px){
    flex-wrap: wrap;
    width: 22%;
    overflow: scroll;
    //height: 50%;
  }
}
.variants{
  @include medias(768px){
    //height: 6em;
    //margin:0 .5em;
  }
  &-img{
    margin: 0 .2em;
  }
}
.right-side{
  display: flex;
  width: 100%;
  flex-wrap:wrap;
  //background: #000;
  @include medias(768px){
    width: 75%;
    max-height: 34em;
    margin: 0;
  }
}
.fullview-conatainer-active > img {
  position: relative;
  margin:1em auto;
}
.live-preview{
  margin:auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  @include medias(768px){
    display: block;
    margin: 0;
  }
  &-current{
    display: block;
    position: relative;
    margin:auto;
    height: 24em;
    &-variant{
      display: block;
      position: absolute;
      left: 2em;
    }
  }
}
.variants-container{
  width: 20em;
  position: relative;
  overflow: hidden;
  //outline:1px solid purple;
}
.current-design{
  display: flex;
  justify-content:space-between;
  background: $color-1;
  padding: 1em;
  margin:.1em auto .3em;
  width: 100%;
  overflow: auto;
  //outline:1px solid red;
  @include medias(768px){
    padding: .5em;
  }
  &-title{
    display: block;
    font-size: 1em;
    width: 50%;
    //outline:1px solid yellow;
  }
  &-subtitle{
    font-size: .8em;
  }
}
.watchPreview{
  align-content:flex-end;
  border: none;
  padding: .5em;
  border-radius: 5px;
  background: $color-2;
  //outline:1px solid blue;
}
.button-dropdown-clothes, .container-right-close{
  border-radius: 5px;
  position: absolute;
  top:.5em;
  right: .9em;
  margin:0 .1em;
  display: flex;
  background: $color-1;
  border:.1px solid $color-2;
  padding: .1em;
  font-size:2em;
  @include medias(768px){
    display: none;
  }
}
.button-dropdown-clothes{
  //left: .9em;
}
.zoomButtons-container{
  //outline:1px solid blue;
  display: flex;
  @include medias(768px) {
    //transform: rotate(-90deg);
    //top: 9em;
    //z-index: 15;
    //left: 35%;
    //position: fixed;
  }
  .button-more, .button-less{
    border-radius: 5px;
    margin:0 .1em;
    display: flex;
    background: $color-1;
    border:.1px solid $color-2;
    padding: .1em;
    font-size: 1.5em;
    @include medias(768px){
      //transform: rotate(-90deg);
      border-radius: 0;
      color:$color-3;
      margin: 0;
      padding: .1em;
      height: 1em;
      font-size: 1em;
    }
  }
}
.input-range-live-preview{
  //outline:1px solid red;
  margin:auto;
  width: 20vh;
  @include medias(320px) {
    width: 30vh;
  }
  @include medias(480px){
    width: 40vh;
  }
  @include medias(768px){
    background: rgba($color-3, .3);
    transform: rotate(360deg);
    position: relative;
  }
}
input[type="range"]{
  background: rgba($color-3, .3);
}
.container-right{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  z-index: 10;
  top:0;
  width: 0;
  height: 100vh;
  overflow:scroll;
  background: rgba($color-4, .8);
  position: fixed;
  padding:1em 0;
  transition: all .1s;
  @include medias(768px){
    margin-left:1em;
    width: 50%;
    max-height:34em;
    overflow: auto;
    justify-content:space-around;
    position: inherit;
    background: $color-2;
    padding: 0;
  }
  &-img{
    border-radius: 5px;
    background:$color-2;
    margin: .2em;
    justify-content:space-around;
    height: 8em;
    @include medias(320px){
      justify-content:space-between;
      margin: .5em;
      height: 11em;
    }
    @include medias(768px){
      height: 8em;
      margin: 0;
      border-radius: 0;
    }
  }
  &-active{
    width: 100%;
    transition: all .1s;
  }
  &-close{
    right: .3em;
    box-shadow: 0px 0px 5px 0px rgba($color-4,1);
  }
}
.posi-fix{
  position: fixed;
}
.live-all-files-available{
  top: 5em;
  right: 0;
  font-size:3em;
  @include medias(768px){
    display: flex;
  }
}
.fullview-conatainer{
  display: none;
  outline:1px solid red;
  top: 0;
  padding:1em;
  position: fixed;
  z-index:500;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: rgba($color-4, .9);
  &-active{
    display: block;
    padding:1em 3em;
  }
}
.buttons{
  margin:1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
  input{
    margin:.5em 0;
  }
}
.cotinue-design, .save-design{
  background: transparent;
  border:none;
  border-radius: 5px;
  color:#000000;
  text-align: center;
  background: $color-1;
  padding: .5em;
}
.live-preview-current-variant{
  left: 0;
}
.block-zoom-button{
  background: gray;
  color: darkgray;
  border:0;
  border-radius: 1em;
  pointer-events:none;
  &:active{

  }
}
.send-data{
  width: 100%;
  display: flex;
  margin:1em auto .5em;
  flex-wrap: wrap;
  justify-content:space-around;
  & .edit-name-category{
    width: 60%;
  }
}
.guidlines-container{
  position:absolute;
  border:.1px solid $color-2;
  top:-12em;
  right:-10em;
  transform:rotate(90deg);
  background: $color-1;
  display: flex;
  //width: 15em;
  border-radius:5px;
  padding:0 .7em ;
  flex-wrap: nowrap;
  overflow: auto;
  justify-content:space-between;
}
.guideline{
  padding:0 .2em;
  background: transparent;
  border:none;
  font-size:1.5em;
  margin:auto .2em;
  font-weight: bold;
  transform: rotate(90deg);
  //&:nth-child(odd){
  //  outline:1px solid blue;
  //}
  //&:nth-child(even){
  //  outline:1px solid red;
  //}
  &::after{
    content: '‒';
  }
}
