.dashboard-menu {
  display: flex;
  //outline:1px solid blue;
  //@include medias(640px) {
  //  height: 3em;
  //}
}
.burguer-menu {
  font-size: 3em;
  color: $color-1;
  background: $color-3;
  max-height: 1em;
  @include medias(640px) {
    display: none;
  }
}
.dashboard-menu-list {
  //outline:1px solid red;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  height: 3em;
  @include medias(640px) {
    flex-wrap: nowrap;
    justify-content:center;
    padding: 0;
    height: 1.5em;
    font-weight:bold;
    margin-top: 1em;
  }
  &-item:nth-child(1){
    width: 100%;
    & ~ li{
      display: none;
      @include medias(640px) {
        display: block;
        text-align: center;
        width: 100%;
      }
    }
  }
  &-item {
    cursor: pointer;
    font-size: $fz-320;
    padding: .8em .2em .8em .8em;
    margin: .1em;
    text-align: left;
    background: $color-3;
    color: $color-1;
    //outline:1px solid black;
    @include medias(640px) {
    padding: .1em;
      margin:0;
      text-align: center;
    background: $color-4;
  }
    &:hover {
      background: $color-1;
      color: $color-4;
    }

  }
}
.show-menu-block {
  display: table;
  width: 100%;
  @include medias(640px) {
    display: flex;
  }
  //margin-top: 10%;

  & li[class="dashboard-menu-list-item"] {
    display: flex;
    text-align: center;
    @include medias(640px) {
      display: block;
    }
  }
}
.selected-item {
  font-weight: bold;
  //border-bottom:1px solid $color-1;
  font-size: $fz-320;
  padding: .9em .2em .9em .8em;
  margin: auto;
  background: $color-4;
  width: 100%;
  @include medias(640px) {
    background: $color-3;
  }
  &:hover {
    background: $color-2;
    color: $color-4;
    cursor: default;
  }
  @include medias(640px) {
    display: none;
    text-align: center;
  }
}
