.all-content-container{
  width: 100%;
  margin:auto;
  height: 100vh;
}
input[type="file"] {
  display: none;
}
.PDFupload-form{
  width: 100%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  @include medias(768px){
    max-width:60%;
  }
  &-label{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin:.4em auto;
  }
  &-item{
    padding: 0 0 0 2em;
    margin: .3em 0;
    position: relative;
    line-height:0;
    height: 2em;
    width: 100%;
    border:none;
    border-radius: 5px;
    @include medias(480px){
      padding: 0 0 0 2.5em;
    }
    @include medias(640px){
      padding: 0 0 0 3em;
    }
    &-label{
      width: 100%;
      @include medias(768px){
        width: 50%;
      }
    }
  }
}
.PDFupload-form-label-file{
  padding: .3em .2em;
  width: 8.1em;
  border-radius:5px;
  align-items:center;
  justify-content:space-between;
  flex-wrap: nowrap;
  margin: auto;
  background: $color-3;
  color:$color-1;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  &-icon{
    display: flex;
    align-items:center;
    margin:auto .7em auto .3em;
    padding: .1em .3em .1em .4em;
    background: $color-1;
    border-radius: 5px;
    //outline:1px solid green;
  }
}
.more-form, .user-form-button-pdf {
  display: none;
  width: 100%;
  &-active{
    display: block;
  }
}
.PDFupload-form-item-description{
  line-height:1;
  padding: .8em;
  height: 8em;

}
.files, .pdf-viewer-container{
  width:100%;
  overflow: auto;
  margin:1em auto;
  background: $color-1;
  padding: 1em .1em;
  @include medias(480px){
    width: 90%;
  }
  @include medias(768px) {
    //max-width:$max-width-320;
    width: 30%;
    font-size: 13px;


  }
  @include medias(1024px) {
    //margin: 0;
    //width: 25%;
  }
  @include medias(1440px) {
    max-width:$max-width-plus1024;
  }

}
.container-list-files{
  display: block;
  padding: .5em 0;
  width: 95%;
  margin:.5em auto;
  border-radius: 3px;
  background: $color-2;
  &-title{
    font-size:$fz-320 * 1.3;
    font-weight: bold;
    margin-left:.5em;
    @include medias(768px){
      font-size:$fz-320;
    }
    &-big{

    }
  }
  &-text{
    margin: 1em;
    @include medias(768px){
      margin: .4em;
    }
  }
}
.pdf-iframe {
  width: 100%;
  height: 40vh;
  padding-top:.5em;
  @include medias(480px) {
    height: 60vh;
  }
  @include medias(1024px){
    padding-top:0;
    height:80vh;
  }
}
.preview-icon{
  margin:.5em 1em;
  align-content:flex-end;
  cursor: pointer;
}
summary{
  display: flex;
  cursor: pointer;
  justify-content:space-between;
}
summary::-webkit-details-marker {
  display: none;
}
summary:after {
  content: "▼";
  color: $color-4;
  margin: auto 1em;
  font-size:$fz-320 - 4;
}
details[open] summary:after {
  content: "▲";
}
.section-container{
  @include medias(768px){
    width: 90%;
    display: flex;
    margin:auto;
    height: 90vh;
  }
}
.pdf-viewer-container{
  display: none;
  @include medias(768px){
    display: block;
    overflow: inherit;
    width: 100%;
  }
}
.iframe-responsive{
  @include medias(768px){
    display: none;
  }
}
.user-form-button-pdf-active{
  padding: .5em 1em;
  width: 60%;
  border-radius: 5px;
  margin:.8em 5em;
  background: $color-3;
  color: $color-1;
  border:none;
  @include medias(480px){
    margin:.8em 10em ;
  }
  @include medias(1200px){
    width: 40%;
    margin:.8em 15em ;
  }
  @include medias(1400px){
    width: 30%;
    margin:.8em 20em ;
  }
}
