@font-face {
  font-family: 'Nexa';
  font-style: normal;
  src:url("../font/Nexa Light.otf") format("opentype");
}
*,*::before,*::after, html, h1{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //outline:1px solid red;
  font-family: "Nexa";
}
@mixin medias($min-width){
  @media screen and(min-width: $min-width){
    @content;
  }
}
$max-width-320:95%;
$max-width-1024: 80%;
$max-width-plus1024: 60%;


$color-1:#ffffff;
$color-2:#eaeaea;
$color-3:#b3b2b2;
$color-4:#4d4c4c;

$fz-320:16px;

@mixin medias($min-width){
  @media screen and(min-width: $min-width){
    @content;
  }
}

body{
  background: $color-2;
}

@import "icon-font";
@import "normalize";
@import "index";
@import "dashboard";
@import "menu";
@import "design_tab";
@import "news";
@import "users";
@import "data";
@import "design_edit";
@import "live_design";
